In [48]:
import pandas as pd
#importando os arquivos
vendas_df = pd.read_csv(r'src/Contoso - Vendas  - 2017.csv', sep=';')
clientes_df = pd.read_csv(r'src/Contoso - Clientes.csv', sep=';')
produtos_df = pd.read_csv(r'src/Contoso - Cadastro Produtos.csv', sep=';')
lojas_df = pd.read_csv(r'src/Contoso - Lojas.csv', sep=';')
promocoes_df = pd.read_csv(r'src/Contoso - Promocoes.csv', sep=';')

#limpando apenas as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Categoria']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando os dataframes
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente')
vendas_df = vendas_df.rename(columns={'E-mail': 'E-mail do Cliente'})
#display(vendas_df)

## Aula 06

frequencia_clientes = vendas_df['E-mail do Cliente'].value_counts()
display(frequencia_clientes)
frequencia_clientes[:5].plot(figsize=(15,5))

vendas_lojas = vendas_df.groupby('Nome da Loja').sum()
vendas_lojas = vendas_lojas[['Quantidade Vendida']]
display(vendas_lojas)

#Ordenando o dataframe
vendas_lojas = vendas_lojas.sort_values('Quantidade Vendida', ascending= False)
display(vendas_lojas)
#podmeos plotar em um gráfico
vendas_lojas[:5].plot(figsize=(15,5), kind = 'bar')

#pegando o maior valor e seu indice
maior_valor = vendas_lojas['Quantidade Vendida'].max()
melhor_loja = vendas_lojas['Quantidade Vendida'].idxmax()
print(melhor_loja)
print(maior_valor)

#pegando o menor valor e seu indice, considerando a ordenação do dataframe de maior para menor
vendas_lojas[-1:]

## Aula 07

qtde_vendida = vendas_df['Quantidade Vendida'].sum()
qtde_devolvida = vendas_df['Quantidade Devolvida'].sum()

print('{:.2%}'.format(qtde_devolvida / qtde_vendida))

vendas_lojacontosoeuropeonline = vendas_df[vendas_df['ID Loja'] == 306]
display(vendas_lojacontosoeuropeonline)
qtde_vendida = vendas_lojacontosoeuropeonline['Quantidade Vendida'].sum()
qtde_devolvida = vendas_lojacontosoeuropeonline['Quantidade Devolvida'].sum()

print('{:.2%}'.format(qtde_devolvida / qtde_vendida))

#vendas_lojacontosoeuropeonline = vendas_df[vendas_df['ID Loja'] == 306]
loja306 = vendas_df['ID Loja'] == 306
vendas_lojacontosoeuropeonline = vendas_df[loja306]
display(vendas_lojacontosoeuropeonline)

#Filtrando Tudo junto
df_loja306semdev = vendas_df[(vendas_df['ID Loja'] == 306) & (vendas_df['Quantidade Devolvida'] == 0)]
display(df_loja306semdev)

#Filtando Separado
loja306 = vendas_df['ID Loja'] == 306
qtde_devolvida_0 = vendas_df['Quantidade Devolvida'] == 0
df2_loja306semdev = vendas_df[loja306 & qtde_devolvida_0]
display(df2_loja306semdev)

## Aula 08

In [49]:
#modificando a coluna de data do dataframe
vendas_df['Data da Venda'] = pd.to_datetime(vendas_df['Data da Venda'], format='%d/%m/%Y')
vendas_df['Data do Envio'] = pd.to_datetime(vendas_df['Data do Envio'], format='%d/%m/%Y')
#acrescentando colunas referente a data
vendas_df['Ano da Venda'] = vendas_df['Data da Venda'].dt.year
vendas_df['Mes da Venda'] = vendas_df['Data da Venda'].dt.month
vendas_df['Dia da Venda'] = vendas_df['Data da Venda'].dt.day

#display(vendas_df)
#vendas_df.info()

## Aula 09

In [50]:
novo_produto_df = pd.read_csv(r'src/Contoso - Cadastro Produtos.csv', sep=';')
display(novo_produto_df.head())

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,Categoria
0,Contoso,Econômico,"10,69","20,96",873,Acessório para Computador
1,Contoso,Econômico,"6,63",13,879,Acessório para Computador
2,Contoso,Econômico,"6,63",13,880,Acessório para Computador
3,Contoso,Econômico,"6,63",13,881,Acessório para Computador
4,Contoso,Econômico,"6,63",13,882,Acessório para Computador

In [51]:
novo_produto_df = pd.read_csv(r'src/Contoso - Cadastro Produtos.csv', sep=';')
novo_produto_df = novo_produto_df.set_index('ID Produto')
display(novo_produto_df.head())


#loc - passa o nome do indice da linha e o nome das colunas
print(novo_produto_df.loc[880,'Preco Unitario'])

#iloc
print(novo_produto_df.iloc[2,3])

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,Categoria
ID Produto,,,,,
873,Contoso,Econômico,"10,69","20,96",Acessório para Computador
879,Contoso,Econômico,"6,63",13,Acessório para Computador
880,Contoso,Econômico,"6,63",13,Acessório para Computador
881,Contoso,Econômico,"6,63",13,Acessório para Computador
882,Contoso,Econômico,"6,63",13,Acessório para Computador

13
13

In [52]:
novo_produto_df.loc[880,'Preco Unitario'] = 23
novo_produto_df.loc[novo_produto_df['ID Produto'] == 873, 'Preço Unitario'] = 23
display(novo_produto_df.head())

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,Categoria
ID Produto,,,,,
873,Contoso,Econômico,"10,69","20,96",Acessório para Computador
879,Contoso,Econômico,"6,63",13,Acessório para Computador
880,Contoso,Econômico,"6,63",13,Acessório para Computador
881,Contoso,Econômico,"6,63",13,Acessório para Computador
882,Contoso,Econômico,"6,63",13,Acessório para Computador